<!-- Pass in data from server.js -->
<ul>
  {{#each article}}
      <p><span class="label">Title:  </span>{{this.title}}</p>
      <div><span class="label">Image:  </span>{{this.image}}</div>
      <p><span class="label">Blurb:  </span>{{this.blurb}}</p>
      <p><span class="label">Author:  </span>{{this.author}}</p>
      <p{{this.id}}><span class="comment">Comment:  </span>{{this.comment}}</p>
      <hr>
      <br>
  {{/each}}
</ul>

<h5 class="comment-header">Add a Comment</h5>
<form>
  <div class="form-group">
    <label for="Input">Author</label>
    <input type="Input" class="form-control" id="Author" placeholder="Author">
  </div>
  <div class="form-group">
    <label for="Textarea">Textarea</label>
    <textarea class="form-control" id="Comment" rows="3"></textarea>
    <button type="submit">Comment</button>
  </div>
</form>